@import "../../responsive/responsive.scss";
.notFoundContainer{
   position: fixed;
   width: 100vw;
   @include sm{
   width: 100%;
   position: relative;
   }
  
    .notFound{
        height: 100vh;
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0rem 1rem;
    gap: 1rem;
    background-color: #dde8ff;
    @include sm{
        height: 100%;
        padding: 2rem 1rem;
        overflow-y: scroll;
       }
    h1{
        font-size: 3rem;
        color: red;
        @include sm{
            font-size: 2rem;
            text-align: center;
        }
    }
    h2{
        font-size: 2rem;
        @include sm{
            font-size: 1.5rem;
            text-align: center;
        }
    }
    p{
        font-size: 1.5rem;
        text-align: center;
        @include sm{
            font-size: 1rem;
        }
    }
    }
    h3{
        font-size: 2.5rem;
        @include sm{
            font-size: 1.5rem;
            text-align: center;
        }
    }
    button{
        transition: background-color .8s linear;
        padding: .5rem;
        background-color: #0000B6;
       color: #fff;
       border-radius: .15rem;
       font-weight: 600;
       border: none;
       font-size: 1.5rem;
       cursor: pointer;
       border-radius: .25rem;
       @include sm{
        font-size: 1rem;
        text-align: center;
    }
    }
}