.mapContainer{
    width: 100%;
    height: 60vh;
}

.map{
    width: 100%;
    height: 100%;
    cursor: pointer;
    .popUpContainer{
        
        img{
            width:8rem;
            height: 8rem;
            object-fit: cover;
            cursor: pointer;
        }

    }
    .leaflet-container a.leaflet-popup-close-button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        text-align: center;
        width: 24px;
        height: 24px;
        font: 16px/24px Tahoma, Verdana, sans-serif;
        color: #ffffff !important;
        text-decoration: none;
        background: transparent;
    }
    
    .leaflet-popup-content-wrapper, .leaflet-popup-tip {
        background-color: #0149D9;
        color: #fff;
        box-shadow: 0 3px 14px rgba(0,0,0,0.4);
        
    }
    .leaflet-interactive {
        color: red;
        cursor: pointer;
    }
}
